# Ignore Jupyter Notebook files
test.ipynb

# Ignore all __pycache__ directories
__pycache__/

# Ignore specific Python file
good.py

# Ignore virtual environment directories
myenv/
venv/

# Ignore Python bytecode
*.pyc
*.pyo